{
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jquery": true,
    "mocha": true
  },
  "rules": {
    "quotes": [
      "error",
      "single"
    ],
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ],
    "no-debugger": "error",
    "no-var": "error",
    "semi": [
      "error",
      "always"
    ],
    "no-trailing-spaces": "error",
    "eol-last": [
      "error",
      "never"
    ],
    "no-unused-vars": "error",
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_bar"
        ]
      }
    ],
    "no-alert": "error",
    "no-lone-blocks": "error",
    "jsx-quotes": [
      "error",
      "prefer-double"
    ],
    "no-multi-spaces": "error",
    "react/no-multi-comp": 2,
    "react/prefer-es6-class": [
      2,
      "always"
    ],
    "react/prefer-stateless-function": [
      2,
      {
        "ignorePureComponents": true
      }
    ],
    "react/jsx-closing-bracket-location": 1,
    "react/jsx-tag-spacing": [
      2,
      {
        "closingSlash": "never",
        "beforeSelfClosing": "never",
        "afterOpening": "never"
      }
    ],
    "react/jsx-curly-spacing": [
      2,
      {
        "when": "never",
        "allowMultiline": false
      }
    ],
    "react/jsx-wrap-multilines": 2,
    "react/self-closing-comp": "error",
    "react/jsx-no-bind": 2,
    "react/require-render-return": 2
  }
}